.navbar {
       font-size: 35px;
        font-weight: bold;
        color:white;
        background-color: purple;
    position: relative;
    padding-top: 10px;
    height: auto;           }
       
h1 {
    color: black;
    font-weight: bold;
    border: none;
}


.MenuTitle { text-align: center;
    color: black;
    font-weight: bold;
    border: none;

}

p {text-align: justify;
    text-align-last: left;
}

body{ background-color:azure;  
    
}

button { background-size: auto;
    position: absolute;       
}

#collapsable-nav a {color: black; 
    
}

nav{ position:relative}

button { position:absolute;
top:0px;
    left:0px;
    right:0px;
    background-color: purple
}


